body {
    background-color: beige;
}

.container {
    text-align: center;
    margin: 50px;
}

.container h1 {
    color: brown;
}

.input-container {
    margin-bottom: 10px;

}

button {
    margin: 20px;
    padding: 10px;
    border: 2px grey solid;
    border-radius: 5px;
}

#result {
    margin-top: 30px;
    font-weight: bold;
}